body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flexbox;
    text-align: center;
    background-color: #262626;
    color: #fff;
    transition: 0.5s;
}

#logo {
    transition: 0.5s;
}

.white-mode {
  background-color: #fff;
  color: #262626;
  transition: 0.5s;
}
.white-logo-mode {
  filter: invert(75%);
  transition: 0.5s;
}

.open {
    padding: 10px;
    border: solid rgba(75, 255, 75, 0.9) 2px;
    border-radius: 5px;
    background-color:rgba(75, 255, 75, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.open:hover {
    border: solid rgba(255, 75, 75, 0.9) 2px;
    border-radius: 15px;
    background-color:rgba(255, 75, 75, 1);
    color: white;
    transition: 0.3s;
}

header {
    background-color: lightgreen;
    width: 100%;

}
