@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --fond: rgb(243, 243, 243);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fond);
  font-family: "Raleway", sans-serif;
}

header {
  background-color: red;
  padding: 3px;
  color: #ffffff;
}

header h2 {
  text-align: center;
}

.menu {
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
}

.menu:hover {
  color: #cacaca;
}

.content {
  width: 80%;
  margin: 20px auto;
}

.def {
  color: red;
  text-decoration: underline;
  font-size: 20px;
}
