@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --panel: rgb(211, 211, 211);
  --fond: rgb(243, 243, 243);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fond);
  font-family: "Raleway", sans-serif;
}

header {
  background-color: red;
  padding: 3px;
  color: #ffffff;
}

header h2 {
  text-align: center;
}

.menu {
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  transition: 0.3s;
}

.menu:hover {
  color: #cacaca;
}

.panel__width {
  padding: 20px;
  background-color: var(--panel);
  width: 20%;
}

div.panel {
  padding: 20px;
  background-color: var(--panel);
  width: 250px;
  height: 350px;
  border: 1px solid var(--panel);
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  margin: 30px 0px 0px 30px;
  float: left;
}

div .panel h2 {
  color: #252525;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  height: 50px;
}

.gauge {
  top: 180px;
  width: 100%;
  max-width: 250px;
  height: 150px;
  margin: auto auto;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: #262626;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
  font-size: 32px;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: rgb(0, 167, 233);
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.5s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: var(--panel);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Texte */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

h3.labels {
  font-size: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 670px) {
  div.panel {
    float: none;
    margin: 30px auto 30px auto;
    width: 350px;
  }
  h3.labels {
    text-align: center;
    margin: 30px 0 0 0;
  }
}
